In [1]:
import random
import os
from collections import Counter, defaultdict
import rel_ext
import utils

In [2]:
#set all the random seeds for reproducibility
#only system seed relevant here
utils.fix_random_seeds()

In [3]:
rel_ext_data_home = os.path.join('data', 'rel_ext_data')

# ***The Corpus***

In [4]:
corpus = rel_ext.Corpus(os.path.join(rel_ext_data_home, 'corpus.tsv.gz'))

print('Read {0:,} examples'.format(len(corpus)))

Read 331,696 examples

In [5]:
print(corpus.examples[1])

Example(entity_1='New_Mexico', entity_2='Arizona', left='to all Spanish-occupied lands . The horno has a beehive shape and uses wood as the only heat source . The procedure still used in parts of', mention_1='New Mexico', middle='and', mention_2='Arizona', right='is to build a fire inside the Horno and , when the proper amount of time has passed , remove the embers and ashes and insert the', left_POS='to/TO all/DT Spanish-occupied/JJ lands/NNS ./. The/DT horno/NN has/VBZ a/DT beehive/NN shape/NN and/CC uses/VBZ wood/NN as/IN the/DT only/JJ heat/NN source/NN ./. The/DT procedure/NN still/RB used/VBN in/IN parts/NNS of/IN', mention_1_POS='New/NNP Mexico/NNP', middle_POS='and/CC', mention_2_POS='Arizona/NNP', right_POS='is/VBZ to/TO build/VB a/DT fire/NN inside/IN the/DT Horno/NNP and/CC ,/, when/WRB the/DT proper/JJ amount/NN of/IN time/NN has/VBZ passed/VBN ,/, remove/VB the/DT embers/NNS and/CC ashes/NNS and/CC insert/VB the/DT')

In [6]:
#taking a closer look at one of the examples
ex = corpus.examples[1]

' '.join((ex.left, ex.mention_1, ex.middle, ex.mention_2, ex.right))

'to all Spanish-occupied lands . The horno has a beehive shape and uses wood as the only heat source . The procedure still used in parts of New Mexico and Arizona is to build a fire inside the Horno and , when the proper amount of time has passed , remove the embers and ashes and insert the'

In [7]:
#looking at entities over the corpus and seeing the most common ones
counter = Counter()
for example in corpus.examples:
    counter[example.entity_1] += 1
    counter[example.entity_2] += 1
print('The corpus contains {} entities'.format(len(counter)))
counts = sorted([(count, key) for key, count in counter.items()], reverse=True)
print('The most common entities are:')
for count, key in counts[:20]:
    print('{:10d} {}'.format(count, key))

The corpus contains 95909 entities
The most common entities are:
      8137 India
      5240 England
      4121 France
      4040 Germany
      3937 Australia
      3779 Canada
      3633 Italy
      3138 California
      2894 New_York_City
      2745 Pakistan
      2213 New_Zealand
      2183 New_York
      2148 United_Kingdom
      2030 Spain
      2005 Japan
      1891 Russia
      1806 Philippines
      1748 Malaysia
      1721 Indonesia
      1670 China

In [8]:
#finding examples containing 'Elon Musk' and 'Tesla Motors'
#only mentions examples where 'Elon Musk' was mentioned first and 'Tesla Motors' was mentioned second
corpus.show_examples_for_pair('Elon_Musk', 'Tesla_Motors')

The first of 5 examples for Elon_Musk and Tesla_Motors is:
Example(entity_1='Elon_Musk', entity_2='Tesla_Motors', left='space for a while , here ’ s what might be launching Americans into space in the next decade . Falcon 9 From sometimes Canadian , South African & American', mention_1='Elon Musk', middle='‘ s company Space X . Musk is a PayPal alumni and', mention_2='Tesla Motors', right='co-founder - remember that latter company name for future trivia questions and/or a remake of Back to the Future . After several successful launches on their Falcon', left_POS="space/NN for/IN a/DT while/NN ,/, here/RB '/'' s/VBZ what/WP might/MD be/VB launching/VBG Americans/NNPS into/IN space/NN in/IN the/DT next/JJ decade/NN ./. Falcon/NNP 9/CD From/IN sometimes/RB Canadian/JJ ,/, South/JJ African/NNP &/CC American/NNP", mention_1_POS='Elon/NNP Musk/NNP', middle_POS='`/`` s/NNS company/NN Space/NN X/NN ./. Musk/NNP is/VBZ a/DT PayPal/NNP alumni/NNS and/CC', mention_2_POS='Tesla/NNP Motors/NNPS', right_POS='co-founder/NN -/: remember/VB that/DT latter/JJ company/NN name/NN for/IN future/JJ trivia/NNS questions/NNS and/or/CC a/DT remake/NN of/IN Back/RB to/TO the/DT Future/NNP ./. After/IN several/JJ successful/JJ launches/NNS on/IN their/PRP$ Falcon/NN')

In [9]:
#examples that have the above entities in reverse order
corpus.show_examples_for_pair('Tesla_Motors', 'Elon_Musk')

The first of 2 examples for Tesla_Motors and Elon_Musk is:
Example(entity_1='Tesla_Motors', entity_2='Elon_Musk', left='their factory in Hethel . If you want to see one in action , Robert Scoble got a ride in the first production model , driven by', mention_1='Tesla Motors', middle='chairman', mention_2='Elon Musk', right='. Needless to say he got the whole thing on video , and covers a lot of technical details about the car – this is the', left_POS='their/PRP$ factory/NN in/IN Hethel/NNP ./. If/IN you/PRP want/VBP to/TO see/VB one/CD in/IN action/NN ,/, Robert/NNP Scoble/NNP got/VBD a/DT ride/NN in/IN the/DT first/JJ production/NN model/NN ,/, driven/VBN by/IN', mention_1_POS='Tesla/NNP Motors/NNPS', middle_POS='chairman/NN', mention_2_POS='Elon/NNP Musk/NNP', right_POS='./. Needless/JJ to/TO say/VB he/PRP got/VBD the/DT whole/JJ thing/NN on/IN video/NN ,/, and/CC covers/VBZ a/DT lot/NN of/IN technical/JJ details/NNS about/IN the/DT car/NN --/: this/DT is/VBZ the/DT')

# ***The Knowledge Base***

*The data distribution was ultimately derived from https://freebase-easy.cs.uni-freiburg.de/dump/ . The KB is a collection of relation triples of the form (relation, subject, object), such as:*


*   (place_of_birth, Barack_Obama, Honolulu)
*   (has_spouse, Barack_Obama, Michelle_Obama)
*   (author, The_Audacity_of_Hope, Barack_Obama) 

*The class makes it easy and efficient to look up triples in the KB using both relations and entities.*

In [10]:
kb = rel_ext.KB(os.path.join(rel_ext_data_home, 'kb.tsv.gz'))

print('Read {0:,} KB triples'.format(len(kb)))

Read 45,884 KB triples

In [11]:
#how many relations?
len(kb.all_relations)

16

In [12]:
#how many triples does each relation contain?
for rel in kb.all_relations:
    print('{:12d} {}'.format(len(kb.get_triples_for_relation(rel)), rel))

        1702 adjoins
        2671 author
         522 capital
       18681 contains
        3947 film_performance
        1960 founders
         824 genre
        2563 has_sibling
        2994 has_spouse
        2542 is_a
        1598 nationality
        1586 parents
        1097 place_of_birth
         831 place_of_death
        1216 profession
        1150 worked_at

In [13]:
#lookin at one example from each relation to see what they mean
for rel in kb.all_relations:
    print(tuple(kb.get_triples_for_relation(rel)[0]))

('adjoins', 'France', 'Spain')
('author', 'Uncle_Silas', 'Sheridan_Le_Fanu')
('capital', 'Panama', 'Panama_City')
('contains', 'Brickfields', 'Kuala_Lumpur_Sentral_railway_station')
('film_performance', 'Colin_Hanks', 'The_Great_Buck_Howard')
('founders', 'Lashkar-e-Taiba', 'Hafiz_Muhammad_Saeed')
('genre', '8_Simple_Rules', 'Sitcom')
('has_sibling', 'Ari_Emanuel', 'Rahm_Emanuel')
('has_spouse', 'Percy_Bysshe_Shelley', 'Mary_Shelley')
('is_a', 'Bhanu_Athaiya', 'Costume_designer')
('nationality', 'Ruben_Rausing', 'Sweden')
('parents', 'Rosanna_Davison', 'Chris_de_Burgh')
('place_of_birth', 'William_Penny_Brookes', 'Much_Wenlock')
('place_of_death', 'Jean_Drapeau', 'Montreal')
('profession', 'Rufus_Wainwright', 'Actor')
('worked_at', 'Brian_Greene', 'Columbia_University')

In [14]:
#kb.get_triples_for_entities() method allows us to look up triples by the entities they contain. 
#using it to see what relation(s) hold between France and Germany
kb.get_triples_for_entities('France', 'Germany')

[KBTriple(rel='adjoins', sbj='France', obj='Germany')]

In [15]:
#most relations in the KB are asymmetric
#but some relations like 'adjoins' and 'has sibling' are symmetric,so the vice versa would also be true
kb.get_triples_for_entities('Germany', 'France')

[KBTriple(rel='adjoins', sbj='Germany', obj='France')]

In [16]:
#there might be cases where there are more than one relation, even in one direction
#for instance, Ptolemly XIII was the brother and husband of Cleopatra
kb.get_triples_for_entities('Cleopatra', 'Ptolemy_XIII_Theos_Philopator')

[KBTriple(rel='has_sibling', sbj='Cleopatra', obj='Ptolemy_XIII_Theos_Philopator'),
 KBTriple(rel='has_spouse', sbj='Cleopatra', obj='Ptolemy_XIII_Theos_Philopator')]

In [17]:
#the distribution of entities in the KB
counter = Counter()
for kbt in kb.kb_triples:
    counter[kbt.sbj] += 1
    counter[kbt.obj] += 1
print('The KB contains {:,} entities'.format(len(counter)))
counts = sorted([(count, key) for key, count in counter.items()], reverse=True)
print('The most common entities are:')
for count, key in counts[:20]:
    print('{:10d} {}'.format(count, key))

The KB contains 40,141 entities
The most common entities are:
       945 England
       786 India
       438 Italy
       414 France
       412 California
       400 Germany
       372 United_Kingdom
       366 Canada
       302 New_York_City
       247 New_York
       236 Australia
       219 Philippines
       215 Japan
       212 Scotland
       208 Russia
       198 Actor
       172 Pakistan
       170 Ontario
       169 Ireland
       168 New_Zealand

## ***Joining the corpus and the KB***
In order to leverage the distant supervision paradigm, we'll need to connect information in the corpus with information in the KB. There are two possibilities, depending on how we formulate our prediction problem:

Use the KB to generate labels for the corpus. If our problem is to classify a pair of entity mentions in a specific example in the corpus, then we can use the KB to provide labels for training examples. 

We'll formulate our prediction problem such that the input is a pair of entities, and the goal is to predict what relation(s) the pair belongs to. The KB will provide the labels, and the corpus will provide the features.

We've created a Dataset class which combines a corpus and a KB, and provides a variety of convenience methods for the dataset.

In [18]:
dataset = rel_ext.Dataset(corpus, kb)

In [19]:
#determining how many relations we have for each triple in the KB
#computing averages per relation
dataset.count_examples()

                                             examples
relation               examples    triples    /triple
--------               --------    -------    -------
adjoins                   58854       1702      34.58
author                    11768       2671       4.41
capital                    7443        522      14.26
contains                  75952      18681       4.07
film_performance           8994       3947       2.28
founders                   5846       1960       2.98
genre                      1576        824       1.91
has_sibling                8525       2563       3.33
has_spouse                12013       2994       4.01
is_a                       5112       2542       2.01
nationality                3403       1598       2.13
parents                    3802       1586       2.40
place_of_birth             1657       1097       1.51
place_of_death             1523        831       1.83
profession                 1851       1216       1.52
worked_at                  3226       1150       2.81

***Negative Instances :***
In order to apply distant supervision paradigm, we also need some negative instances (entity pairs which do not belong to any known relation).
We assign these entities the special relation called `No_Relation`

In [20]:
unrelated_pairs = dataset.find_unrelated_pairs()
print('Found {0:,} unrelated pairs, including:'.format(len(unrelated_pairs)))
for pair in list(unrelated_pairs)[:10]:
    print('   ', pair)

Found 247,405 unrelated pairs, including:
    ('Aratus', 'Seneca_the_Younger')
    ('Rocky_Mountains', 'Czech_Republic')
    ('Estate_agent', 'Canada')
    ('Jungfrau', 'Zermatt')
    ('Charles_Eames', 'Gregory_Ain')
    ('Guwahati', 'Ahmedabad')
    ('Sarah', 'Book_of_Genesis')
    ('BRCA1', 'BRCA2')
    ('Cuddalore', 'Chittoor')
    ('Heinz_von_Foerster', 'Hans_Moravec')

Our prediction problem is a multi-label classification. 

There are a number of ways to approach multi-label classification, but the most obvious is the binary relevance method ( factors multi-label classification over n labels into n independent binary classification problems, one for each label). 

*Disadvantage:* by treating the binary classification problems as independent, it fails to exploit correlations between labels. 


So our problem will be to take as input an entity pair and a candidate relation (label), and to return a binary prediction as to whether the entity pair belongs to the relation.

# ***Building Datasets***

We'll now have a function to build datasets that are suitable for training and evaluating the predictive models. Characteristics of the datasets:


*   since our problem has been formulated as a multi label classification, we'll be training separate models for each relation and won't build a single dataset.
We'll build a dataset for each relation.

*  The dataset for each relation will consist of two parallel lists:
        1.   A list of candidate `KBTriples` which combine the given relation with a pair of entities.
        2.   A corresponding list of boolean labels indicating whether the given `KBTriple` belongs to the KB.

In [21]:
kbts_by_rel, labels_by_rel = dataset.build_dataset(
    include_positive=True, sampling_rate=0.1, seed=1)

In [22]:
print(kbts_by_rel['adjoins'][0], labels_by_rel['adjoins'][0])

KBTriple(rel='adjoins', sbj='France', obj='Spain') True

In [23]:
print(kbts_by_rel['capital'][637], labels_by_rel['capital'][637])

KBTriple(rel='capital', sbj='Sigmund_Freud', obj='Magnus_Hirschfeld') False

# ***Splitting the Data***
tiny split = 1%

train split= 74%

dev split= 25%

In [24]:
splits = dataset.build_splits(
    split_names=['tiny', 'train', 'dev'],
    split_fracs=[0.01, 0.74, 0.25],
    seed=1)

splits

{'all': Corpus with 331,696 examples; KB with 45,884 triples,
 'dev': Corpus with 79,219 examples; KB with 11,210 triples,
 'tiny': Corpus with 3,474 examples; KB with 445 triples,
 'train': Corpus with 249,003 examples; KB with 34,229 triples}

# ***Evaluating***

In [25]:
def lift(f):
    return lambda xs: [f(x) for x in xs]

def make_random_classifier(p=0.50):
    def random_classify(kb_triple):
        return random.random() < p
    return lift(random_classify)

In [26]:
def find_common_middles(split, top_k=3, show_output=False):
    corpus = split.corpus
    kb = split.kb
    mids_by_rel = {
        'fwd': defaultdict(lambda: defaultdict(int)),
        'rev': defaultdict(lambda: defaultdict(int))}
    for rel in kb.all_relations:
        for kbt in kb.get_triples_for_relation(rel):
            for ex in corpus.get_examples_for_entities(kbt.sbj, kbt.obj):
                mids_by_rel['fwd'][rel][ex.middle] += 1
            for ex in corpus.get_examples_for_entities(kbt.obj, kbt.sbj):
                mids_by_rel['rev'][rel][ex.middle] += 1
    def most_frequent(mid_counter):
        return sorted([(cnt, mid) for mid, cnt in mid_counter.items()], reverse=True)[:top_k]
    for rel in kb.all_relations:
        for dir in ['fwd', 'rev']:
            top = most_frequent(mids_by_rel[dir][rel])
            if show_output:
                for cnt, mid in top:
                    print('{:20s} {:5s} {:10d} {:s}'.format(rel, dir, cnt, mid))
            mids_by_rel[dir][rel] = set([mid for cnt, mid in top])
    return mids_by_rel

_ = find_common_middles(splits['train'], show_output=True)

adjoins              fwd         7667 ,
adjoins              fwd         5134 and
adjoins              fwd          903 , and
adjoins              rev         4582 ,
adjoins              rev         3000 and
adjoins              rev          507 , and
author               fwd         1007 by
author               fwd          124 ,
author               fwd          105 , by
author               rev          816 's
author               rev          210 ‘ s
author               rev          142 ’ s
capital              fwd           33 ,
capital              fwd           17 , after
capital              fwd           14 in
capital              rev         2506 ,
capital              rev          121 in
capital              rev           73 , the capital of
contains             fwd          319 's
contains             fwd          296 ,
contains             fwd          211 (
contains             rev        18511 ,
contains             rev         4160 in
contains             rev          603 in the
film_performance     fwd          283 in
film_performance     fwd          151 's
film_performance     fwd           96 film
film_performance     rev          183 with
film_performance     rev          128 , starring
film_performance     rev           97 opposite
founders             fwd           78 founder
founders             fwd           56 co-founder
founders             fwd           44 ,
founders             rev          140 's
founders             rev           66 ‘ s
founders             rev           62 of the
genre                fwd           20 , a
genre                fwd           13 in 1994 , he became a central figure in the
genre                fwd           11 is a
genre                rev           98 ,
genre                rev           60 series
genre                rev           17 show
has_sibling          fwd         1115 and
has_sibling          fwd          545 ,
has_sibling          fwd          125 , and
has_sibling          rev          676 and
has_sibling          rev          371 ,
has_sibling          rev           68 , and
has_spouse           fwd         1825 and
has_spouse           fwd          379 ,
has_spouse           fwd           97 and his wife
has_spouse           rev         1183 and
has_spouse           rev          225 ,
has_spouse           rev           74 and his wife
is_a                 fwd          100 ,
is_a                 fwd           44 family ,
is_a                 fwd           34 , a
is_a                 rev          175 ,
is_a                 rev           73
is_a                 rev           47 of
nationality          fwd          264 of
nationality          fwd           70 in
nationality          fwd           27 from
nationality          rev           51 ,
nationality          rev           24 by
nationality          rev           18 under
parents              fwd           64 , son of
parents              fwd           45 and
parents              fwd           42 ,
parents              rev          187 and
parents              rev          151 ,
parents              rev           42 and his son
place_of_birth       fwd           85 of
place_of_birth       fwd           50 was born in
place_of_birth       fwd           35 in
place_of_birth       rev           15 by
place_of_birth       rev           15 ,
place_of_birth       rev            9 -born Franciscan scholar
place_of_death       fwd           65 in
place_of_death       fwd           48 of
place_of_death       fwd            9 at
place_of_death       rev            9 ,
place_of_death       rev            8 mayor
place_of_death       rev            7 by
profession           fwd           85 ,
profession           fwd           27 , a
profession           fwd           26 and
profession           rev          101 ,
profession           rev           67
profession           rev           24 and
worked_at            fwd           94 of
worked_at            fwd           57 at
worked_at            fwd           57 's
worked_at            rev           34 ,
worked_at            rev           19 with
worked_at            rev           18 co-founder

In [27]:
def train_top_k_middles_classifier(top_k=3):
    split = splits['train']
    corpus = split.corpus
    top_k_mids_by_rel = find_common_middles(split=split, top_k=top_k)
    def classify(kb_triple):
        fwd_mids = top_k_mids_by_rel['fwd'][kb_triple.rel]
        rev_mids = top_k_mids_by_rel['rev'][kb_triple.rel]
        for ex in corpus.get_examples_for_entities(kb_triple.sbj, kb_triple.obj):
            if ex.middle in fwd_mids:
                return True
        for ex in corpus.get_examples_for_entities(kb_triple.obj, kb_triple.sbj):
            if ex.middle in rev_mids:
                return True
        return False
    return lift(classify)

In [28]:
rel_ext.evaluate(splits, train_top_k_middles_classifier())

relation              precision     recall    f-score    support       size
------------------    ---------  ---------  ---------  ---------  ---------
adjoins                   0.272      0.285      0.274        407       7057
author                    0.325      0.078      0.198        657       7307
capital                   0.093      0.159      0.101        126       6776
contains                  0.593      0.064      0.223       4487      11137
film_performance          0.625      0.005      0.025        984       7634
founders                  0.148      0.038      0.094        469       7119
genre                     0.000      0.000      0.000        205       6855
has_sibling               0.261      0.176      0.238        625       7275
has_spouse                0.348      0.211      0.308        754       7404
is_a                      0.071      0.024      0.051        618       7268
nationality               0.120      0.036      0.082        386       7036
parents                   0.080      0.067      0.077        390       7040
place_of_birth            0.019      0.007      0.014        282       6932
place_of_death            0.028      0.014      0.023        209       6859
profession                0.039      0.039      0.039        308       6958
worked_at                 0.054      0.020      0.040        303       6953
------------------    ---------  ---------  ---------  ---------  ---------
macro-average             0.192      0.076      0.112      11210     117610

0.11179102963297724

# ***Building a Classifier***

**Featurizers**

Finds all the corpus examples containing the two entities in the `KBTriple`, breaks the phrase appearing between the two entity mentions into words, and counts the words.

In [29]:
#a simple bag of words featurizer
# no distinction between 'forward' and 'reverse' examples

def simple_bag_of_words_featurizer(kbt, corpus, feature_counter):
    for ex in corpus.get_examples_for_entities(kbt.sbj, kbt.obj):
        for word in ex.middle.split(' '):
            feature_counter[word] += 1
    for ex in corpus.get_examples_for_entities(kbt.obj, kbt.sbj):
        for word in ex.middle.split(' '):
            feature_counter[word] += 1
    return feature_counter

How the featurizer works on a single example :

In [30]:
kbt = kb.kb_triples[0]

kbt

KBTriple(rel='contains', sbj='Brickfields', obj='Kuala_Lumpur_Sentral_railway_station')

In [31]:
corpus.get_examples_for_entities(kbt.sbj, kbt.obj)[0].middle

'it was just a quick 10-minute walk to'

In [32]:
simple_bag_of_words_featurizer(kb.kb_triples[0], corpus, Counter())

Counter({'10-minute': 1,
         'a': 1,
         'it': 1,
         'just': 1,
         'quick': 1,
         'the': 1,
         'to': 2,
         'walk': 1,
         'was': 1})

Converting the datasets of `KBTriples` into feature matrices so that ML algos provided by `sklearn` can be used :

In [33]:
kbts_by_rel, labels_by_rel = dataset.build_dataset()

featurized = dataset.featurize(kbts_by_rel, featurizers=[simple_bag_of_words_featurizer])

***Experiments***

In [34]:
train_result = rel_ext.train_models(
    splits,
    featurizers=[simple_bag_of_words_featurizer])

In [35]:
predictions, true_labels = rel_ext.predict(
    splits, train_result, split_name='dev')

In [36]:

rel_ext.evaluate_predictions(predictions, true_labels)

relation              precision     recall    f-score    support       size
------------------    ---------  ---------  ---------  ---------  ---------
adjoins                   0.886      0.383      0.702        407       7057
author                    0.790      0.521      0.716        657       7307
capital                   0.633      0.246      0.481        126       6776
contains                  0.786      0.601      0.740       4487      11137
film_performance          0.815      0.579      0.754        984       7634
founders                  0.836      0.424      0.700        469       7119
genre                     0.547      0.171      0.380        205       6855
has_sibling               0.812      0.242      0.551        625       7275
has_spouse                0.885      0.336      0.666        754       7404
is_a                      0.650      0.210      0.458        618       7268
nationality               0.588      0.174      0.398        386       7036
parents                   0.870      0.533      0.773        390       7040
place_of_birth            0.671      0.202      0.458        282       6932
place_of_death            0.564      0.105      0.301        209       6859
profession                0.626      0.201      0.440        308       6958
worked_at                 0.708      0.264      0.530        303       6953
------------------    ---------  ---------  ---------  ---------  ---------
macro-average             0.729      0.325      0.566      11210     117610

0.5656246770981269

In [37]:
_ = rel_ext.experiment(
    splits,
    featurizers=[simple_bag_of_words_featurizer])

relation              precision     recall    f-score    support       size
------------------    ---------  ---------  ---------  ---------  ---------
adjoins                   0.886      0.383      0.702        407       7057
author                    0.790      0.521      0.716        657       7307
capital                   0.633      0.246      0.481        126       6776
contains                  0.786      0.601      0.740       4487      11137
film_performance          0.815      0.579      0.754        984       7634
founders                  0.836      0.424      0.700        469       7119
genre                     0.547      0.171      0.380        205       6855
has_sibling               0.812      0.242      0.551        625       7275
has_spouse                0.885      0.336      0.666        754       7404
is_a                      0.650      0.210      0.458        618       7268
nationality               0.588      0.174      0.398        386       7036
parents                   0.870      0.533      0.773        390       7040
place_of_birth            0.671      0.202      0.458        282       6932
place_of_death            0.564      0.105      0.301        209       6859
profession                0.626      0.201      0.440        308       6958
worked_at                 0.708      0.264      0.530        303       6953
------------------    ---------  ---------  ---------  ---------  ---------
macro-average             0.729      0.325      0.566      11210     117610

# ***Analysis***

In [38]:
rel_ext.examine_model_weights(train_result)

Highest and lowest feature weights for relation adjoins:

     2.457 Taluks
     2.457 Valais
     2.403 Córdoba
     ..... .....
    -1.155 Ireland
    -1.157 America
    -1.166 for

Highest and lowest feature weights for relation author:

     2.852 author
     2.572 books
     2.433 writer
     ..... .....
    -2.463 Alice
    -3.000 Daisy
    -6.948 1865

Highest and lowest feature weights for relation capital:

     3.512 capital
     1.685 km
     1.579 posted
     ..... .....
    -1.328 and
    -1.350 state
    -1.996 Dehradun

Highest and lowest feature weights for relation contains:

     2.764 third-largest
     2.337 bordered
     2.110 attended
     ..... .....
    -2.235 band
    -2.479 who
    -6.034 Bronx

Highest and lowest feature weights for relation film_performance:

     4.073 starring
     3.762 opposite
     3.378 alongside
     ..... .....
    -2.079 spy
    -2.171 Tamil
    -3.571 Mohabbatein

Highest and lowest feature weights for relation founders:

     3.886 founder
     3.876 founded
     3.075 co-founder
     ..... .....
    -1.299 series
    -1.526 novel
    -1.553 band

Highest and lowest feature weights for relation genre:

     3.017 series
     2.921 game
     2.675 album
     ..... .....
    -1.372 ;
    -1.466 and
    -1.757 at

Highest and lowest feature weights for relation has_sibling:

     4.771 brother
     4.077 sister
     3.050 nephew
     ..... .....
    -1.551 Christopher
    -1.628 Her
    -1.803 where

Highest and lowest feature weights for relation has_spouse:

     5.092 wife
     4.436 widow
     4.381 married
     ..... .....
    -1.334 VIII
    -1.488 philanthropist
    -1.635 grandson

Highest and lowest feature weights for relation is_a:

     2.791
     2.584 philosopher
     2.236 replaced
     ..... .....
    -2.951 Talpidae
    -3.716 widespread
    -5.558 characin

Highest and lowest feature weights for relation nationality:

     2.731 born
     1.952 Pinky
     1.841 caliph
     ..... .....
    -1.420 and
    -1.459 American
    -1.469 or

Highest and lowest feature weights for relation parents:

     5.085 son
     4.736 daughter
     4.017 father
     ..... .....
    -2.301 Kelly
    -2.519 Jolie
    -2.647 Gamal

Highest and lowest feature weights for relation place_of_birth:

     3.819 born
     2.559 birthplace
     2.237 mayor
     ..... .....
    -1.182 state
    -1.451 or
    -1.502 and

Highest and lowest feature weights for relation place_of_death:

     2.343 died
     1.852 where
     1.844 assassinated
     ..... .....
    -1.130 ;
    -1.219 and
    -1.248 Siege

Highest and lowest feature weights for relation profession:

     3.392
     2.471 philosopher
     2.436 American
     ..... .....
    -1.290 in
    -1.359 from
    -1.926 on

Highest and lowest feature weights for relation worked_at:

     3.056 head
     2.985 president
     2.838 professor
     ..... .....
    -1.126 NASA
    -1.322 region
    -1.744 or

***Discovering New Relation Instances***

In [39]:
rel_ext.find_new_relation_instances(
    dataset,
    featurizers=[simple_bag_of_words_featurizer])

Highest probability examples for relation adjoins:

     1.000 KBTriple(rel='adjoins', sbj='Canada', obj='Vancouver')
     1.000 KBTriple(rel='adjoins', sbj='Vancouver', obj='Canada')
     1.000 KBTriple(rel='adjoins', sbj='Lahore', obj='Pakistan')
     1.000 KBTriple(rel='adjoins', sbj='Pakistan', obj='Lahore')
     1.000 KBTriple(rel='adjoins', sbj='Atlantic_Ocean', obj='Mexico')
     1.000 KBTriple(rel='adjoins', sbj='Mexico', obj='Atlantic_Ocean')
     1.000 KBTriple(rel='adjoins', sbj='Blue_Ridge_Mountains', obj='Appalachian_Mountains')
     1.000 KBTriple(rel='adjoins', sbj='Appalachian_Mountains', obj='Blue_Ridge_Mountains')
     1.000 KBTriple(rel='adjoins', sbj='Sicily', obj='Italy')
     1.000 KBTriple(rel='adjoins', sbj='Italy', obj='Sicily')

Highest probability examples for relation author:

     1.000 KBTriple(rel='author', sbj='Dante_Alighieri', obj='Divine_Comedy')
     1.000 KBTriple(rel='author', sbj='Comic_book', obj='Marvel_Comics')
     1.000 KBTriple(rel='author', sbj='Charles_Dickens', obj='A_Christmas_Carol')
     1.000 KBTriple(rel='author', sbj='A_Christmas_Carol', obj='Charles_Dickens')
     1.000 KBTriple(rel='author', sbj='The_Doors_of_Perception', obj='Aldous_Huxley')
     1.000 KBTriple(rel='author', sbj='Brave_New_World', obj='Aldous_Huxley')
     1.000 KBTriple(rel='author', sbj='Aldous_Huxley', obj='The_Doors_of_Perception')
     1.000 KBTriple(rel='author', sbj='Pride_and_Prejudice', obj='Jane_Austen')
     1.000 KBTriple(rel='author', sbj='Aldous_Huxley', obj='Brave_New_World')
     1.000 KBTriple(rel='author', sbj='Divine_Comedy', obj='Dante_Alighieri')

Highest probability examples for relation capital:

     1.000 KBTriple(rel='capital', sbj='Bangladesh', obj='Dhaka')
     1.000 KBTriple(rel='capital', sbj='Dhaka', obj='Bangladesh')
     1.000 KBTriple(rel='capital', sbj='Lucknow', obj='Uttar_Pradesh')
     1.000 KBTriple(rel='capital', sbj='Uttar_Pradesh', obj='Lucknow')
     1.000 KBTriple(rel='capital', sbj='Sichuan', obj='Chengdu')
     1.000 KBTriple(rel='capital', sbj='Chengdu', obj='Sichuan')
     1.000 KBTriple(rel='capital', sbj='Delhi', obj='India')
     1.000 KBTriple(rel='capital', sbj='India', obj='Delhi')
     1.000 KBTriple(rel='capital', sbj='Bandung', obj='West_Java')
     1.000 KBTriple(rel='capital', sbj='West_Java', obj='Bandung')

Highest probability examples for relation contains:

     1.000 KBTriple(rel='contains', sbj='Bangladesh', obj='Dhaka')
     1.000 KBTriple(rel='contains', sbj='Australia', obj='Melbourne')
     1.000 KBTriple(rel='contains', sbj='Lahore', obj='Pakistan')
     1.000 KBTriple(rel='contains', sbj='Canada', obj='Edmonton')
     1.000 KBTriple(rel='contains', sbj='Australia', obj='Sydney')
     1.000 KBTriple(rel='contains', sbj='Canada', obj='Vancouver')
     1.000 KBTriple(rel='contains', sbj='Pakistan', obj='Lahore')
     1.000 KBTriple(rel='contains', sbj='Naples', obj='Campania')
     1.000 KBTriple(rel='contains', sbj='Vancouver', obj='Canada')
     1.000 KBTriple(rel='contains', sbj='Dubai', obj='United_Arab_Emirates')

Highest probability examples for relation film_performance:

     1.000 KBTriple(rel='film_performance', sbj='Amitabh_Bachchan', obj='Mohabbatein')
     1.000 KBTriple(rel='film_performance', sbj='Mohabbatein', obj='Amitabh_Bachchan')
     1.000 KBTriple(rel='film_performance', sbj='Sonakshi_Sinha', obj='Akshay_Kumar')
     1.000 KBTriple(rel='film_performance', sbj='Akshay_Kumar', obj='Sonakshi_Sinha')
     1.000 KBTriple(rel='film_performance', sbj='De-Lovely', obj='Kevin_Kline')
     1.000 KBTriple(rel='film_performance', sbj='Kevin_Kline', obj='De-Lovely')
     1.000 KBTriple(rel='film_performance', sbj='Charles_Dickens', obj='A_Christmas_Carol')
     1.000 KBTriple(rel='film_performance', sbj='A_Christmas_Carol', obj='Charles_Dickens')
     1.000 KBTriple(rel='film_performance', sbj='Kaho_Naa..._Pyaar_Hai', obj='Hrithik_Roshan')
     1.000 KBTriple(rel='film_performance', sbj='Hrithik_Roshan', obj='Kaho_Naa..._Pyaar_Hai')

Highest probability examples for relation founders:

     1.000 KBTriple(rel='founders', sbj='Louis_Chevrolet', obj='William_C._Durant')
     1.000 KBTriple(rel='founders', sbj='Homer', obj='Iliad')
     1.000 KBTriple(rel='founders', sbj='William_C._Durant', obj='Louis_Chevrolet')
     1.000 KBTriple(rel='founders', sbj='Iliad', obj='Homer')
     1.000 KBTriple(rel='founders', sbj='Marvel_Comics', obj='Stan_Lee')
     1.000 KBTriple(rel='founders', sbj='Stan_Lee', obj='Marvel_Comics')
     1.000 KBTriple(rel='founders', sbj='Genghis_Khan', obj='Mongol_Empire')
     1.000 KBTriple(rel='founders', sbj='Mongol_Empire', obj='Genghis_Khan')
     1.000 KBTriple(rel='founders', sbj='Elon_Musk', obj='SpaceX')
     1.000 KBTriple(rel='founders', sbj='SpaceX', obj='Elon_Musk')

Highest probability examples for relation genre:

     1.000 KBTriple(rel='genre', sbj='Hal_Holbrook', obj='Mark_Twain_Tonight')
     1.000 KBTriple(rel='genre', sbj='Mark_Twain_Tonight', obj='Hal_Holbrook')
     0.992 KBTriple(rel='genre', sbj='Andrew_Garfield', obj='Sam_Raimi')
     0.992 KBTriple(rel='genre', sbj='Sam_Raimi', obj='Andrew_Garfield')
     0.990 KBTriple(rel='genre', sbj='Louisa_May_Alcott', obj='Little_Women')
     0.990 KBTriple(rel='genre', sbj='Little_Women', obj='Louisa_May_Alcott')
     0.990 KBTriple(rel='genre', sbj='Pink_Floyd', obj='The_Dark_Side_of_the_Moon')
     0.990 KBTriple(rel='genre', sbj='The_Dark_Side_of_the_Moon', obj='Pink_Floyd')
     0.988 KBTriple(rel='genre', sbj='The_Faculty', obj='Robert_Rodriguez')
     0.988 KBTriple(rel='genre', sbj='Robert_Rodriguez', obj='The_Faculty')

Highest probability examples for relation has_sibling:

     1.000 KBTriple(rel='has_sibling', sbj='Gutzon_Borglum', obj='Lincoln_Borglum')
     1.000 KBTriple(rel='has_sibling', sbj='Lincoln_Borglum', obj='Gutzon_Borglum')
     1.000 KBTriple(rel='has_sibling', sbj='April_Margera', obj='Jess_Margera')
     1.000 KBTriple(rel='has_sibling', sbj='Jess_Margera', obj='April_Margera')
     1.000 KBTriple(rel='has_sibling', sbj='Philip_II_of_Macedon', obj='Alexander_the_Great')
     1.000 KBTriple(rel='has_sibling', sbj='Alexander_the_Great', obj='Philip_II_of_Macedon')
     1.000 KBTriple(rel='has_sibling', sbj='Rufus_Wainwright', obj='Kate_McGarrigle')
     1.000 KBTriple(rel='has_sibling', sbj='Kate_McGarrigle', obj='Rufus_Wainwright')
     1.000 KBTriple(rel='has_sibling', sbj='William_Lawrence_Bragg', obj='William_Henry_Bragg')
     1.000 KBTriple(rel='has_sibling', sbj='William_Henry_Bragg', obj='William_Lawrence_Bragg')

Highest probability examples for relation has_spouse:

     1.000 KBTriple(rel='has_spouse', sbj='Akhenaten', obj='Tutankhamun')
     1.000 KBTriple(rel='has_spouse', sbj='Tutankhamun', obj='Akhenaten')
     1.000 KBTriple(rel='has_spouse', sbj='Douglas_Fairbanks', obj='United_Artists')
     1.000 KBTriple(rel='has_spouse', sbj='United_Artists', obj='Douglas_Fairbanks')
     1.000 KBTriple(rel='has_spouse', sbj='Louis_Chevrolet', obj='William_C._Durant')
     1.000 KBTriple(rel='has_spouse', sbj='William_C._Durant', obj='Louis_Chevrolet')
     1.000 KBTriple(rel='has_spouse', sbj='Nicole_Brown_Simpson', obj='Ronald_Goldman')
     1.000 KBTriple(rel='has_spouse', sbj='Ronald_Goldman', obj='Nicole_Brown_Simpson')
     1.000 KBTriple(rel='has_spouse', sbj='England', obj='Charles_II_of_England')
     1.000 KBTriple(rel='has_spouse', sbj='Charles_II_of_England', obj='England')

Highest probability examples for relation is_a:

     1.000 KBTriple(rel='is_a', sbj='Felidae', obj='Panthera')
     1.000 KBTriple(rel='is_a', sbj='Canada', obj='Vancouver')
     1.000 KBTriple(rel='is_a', sbj='Vancouver', obj='Canada')
     1.000 KBTriple(rel='is_a', sbj='Panthera', obj='Felidae')
     1.000 KBTriple(rel='is_a', sbj='South_Korea', obj='Automobile')
     1.000 KBTriple(rel='is_a', sbj='Automobile', obj='South_Korea')
     1.000 KBTriple(rel='is_a', sbj='Hibiscus', obj='Malvaceae')
     1.000 KBTriple(rel='is_a', sbj='Malvaceae', obj='Hibiscus')
     1.000 KBTriple(rel='is_a', sbj='Bird', obj='Phasianidae')
     1.000 KBTriple(rel='is_a', sbj='Phasianidae', obj='Bird')

Highest probability examples for relation nationality:

     1.000 KBTriple(rel='nationality', sbj='Roman_Empire', obj='Titus')
     1.000 KBTriple(rel='nationality', sbj='Titus', obj='Roman_Empire')
     1.000 KBTriple(rel='nationality', sbj='Genghis_Khan', obj='Mongol_Empire')
     1.000 KBTriple(rel='nationality', sbj='Mongol_Empire', obj='Genghis_Khan')
     1.000 KBTriple(rel='nationality', sbj='Cambodia', obj='Norodom_Sihamoni')
     1.000 KBTriple(rel='nationality', sbj='Norodom_Sihamoni', obj='Cambodia')
     0.999 KBTriple(rel='nationality', sbj='April_Margera', obj='Jess_Margera')
     0.999 KBTriple(rel='nationality', sbj='Jess_Margera', obj='April_Margera')
     0.999 KBTriple(rel='nationality', sbj='Comic_book', obj='Marvel_Comics')
     0.999 KBTriple(rel='nationality', sbj='Marvel_Comics', obj='Comic_book')

Highest probability examples for relation parents:

     1.000 KBTriple(rel='parents', sbj='Gutzon_Borglum', obj='Lincoln_Borglum')
     1.000 KBTriple(rel='parents', sbj='Philip_II_of_Macedon', obj='Alexander_the_Great')
     1.000 KBTriple(rel='parents', sbj='Alexander_the_Great', obj='Philip_II_of_Macedon')
     1.000 KBTriple(rel='parents', sbj='Lincoln_Borglum', obj='Gutzon_Borglum')
     1.000 KBTriple(rel='parents', sbj='Thomas_Boleyn,_1st_Earl_of_Wiltshire', obj='Anne_Boleyn')
     1.000 KBTriple(rel='parents', sbj='Anne_Boleyn', obj='Thomas_Boleyn,_1st_Earl_of_Wiltshire')
     1.000 KBTriple(rel='parents', sbj='April_Margera', obj='Jess_Margera')
     1.000 KBTriple(rel='parents', sbj='Jess_Margera', obj='April_Margera')
     1.000 KBTriple(rel='parents', sbj='John_Bonham', obj='Jason_Bonham')
     1.000 KBTriple(rel='parents', sbj='Jason_Bonham', obj='John_Bonham')

Highest probability examples for relation place_of_birth:

     0.997 KBTriple(rel='place_of_birth', sbj='Bagmati_Zone', obj='Nepal')
     0.997 KBTriple(rel='place_of_birth', sbj='Nepal', obj='Bagmati_Zone')
     0.995 KBTriple(rel='place_of_birth', sbj='Roman_Empire', obj='Titus')
     0.995 KBTriple(rel='place_of_birth', sbj='Titus', obj='Roman_Empire')
     0.994 KBTriple(rel='place_of_birth', sbj='Lumbini', obj='Gautama_Buddha')
     0.994 KBTriple(rel='place_of_birth', sbj='Gautama_Buddha', obj='Lumbini')
     0.994 KBTriple(rel='place_of_birth', sbj='Sichuan', obj='Chengdu')
     0.994 KBTriple(rel='place_of_birth', sbj='Chengdu', obj='Sichuan')
     0.993 KBTriple(rel='place_of_birth', sbj='England', obj='Elizabeth_I_of_England')
     0.993 KBTriple(rel='place_of_birth', sbj='Elizabeth_I_of_England', obj='England')

Highest probability examples for relation place_of_death:

     1.000 KBTriple(rel='place_of_death', sbj='Roman_Empire', obj='Titus')
     1.000 KBTriple(rel='place_of_death', sbj='Titus', obj='Roman_Empire')
     1.000 KBTriple(rel='place_of_death', sbj='Philip_II_of_Macedon', obj='Alexander_the_Great')
     1.000 KBTriple(rel='place_of_death', sbj='Alexander_the_Great', obj='Philip_II_of_Macedon')
     1.000 KBTriple(rel='place_of_death', sbj='Genghis_Khan', obj='Mongol_Empire')
     1.000 KBTriple(rel='place_of_death', sbj='Mongol_Empire', obj='Genghis_Khan')
     1.000 KBTriple(rel='place_of_death', sbj='England', obj='Elizabeth_I_of_England')
     1.000 KBTriple(rel='place_of_death', sbj='Elizabeth_I_of_England', obj='England')
     1.000 KBTriple(rel='place_of_death', sbj='Roman_Empire', obj='Tiberius_Julius_Alexander')
     1.000 KBTriple(rel='place_of_death', sbj='Tiberius_Julius_Alexander', obj='Roman_Empire')

Highest probability examples for relation profession:

     1.000 KBTriple(rel='profession', sbj='Canada', obj='Vancouver')
     1.000 KBTriple(rel='profession', sbj='Vancouver', obj='Canada')
     1.000 KBTriple(rel='profession', sbj='Louisa_May_Alcott', obj='Little_Women')
     1.000 KBTriple(rel='profession', sbj='Little_Women', obj='Louisa_May_Alcott')
     1.000 KBTriple(rel='profession', sbj='Kaho_Naa..._Pyaar_Hai', obj='Hrithik_Roshan')
     1.000 KBTriple(rel='profession', sbj='Hrithik_Roshan', obj='Kaho_Naa..._Pyaar_Hai')
     0.999 KBTriple(rel='profession', sbj='Actor', obj='Screenwriter')
     0.999 KBTriple(rel='profession', sbj='Screenwriter', obj='Actor')
     0.999 KBTriple(rel='profession', sbj='Musician', obj='Multi-instrumentalist')
     0.999 KBTriple(rel='profession', sbj='Multi-instrumentalist', obj='Musician')

Highest probability examples for relation worked_at:

     1.000 KBTriple(rel='worked_at', sbj='Louis_Chevrolet', obj='William_C._Durant')
     1.000 KBTriple(rel='worked_at', sbj='William_C._Durant', obj='Louis_Chevrolet')
     1.000 KBTriple(rel='worked_at', sbj='Homer', obj='Iliad')
     1.000 KBTriple(rel='worked_at', sbj='Iliad', obj='Homer')
     1.000 KBTriple(rel='worked_at', sbj='Comic_book', obj='Marvel_Comics')
     1.000 KBTriple(rel='worked_at', sbj='Marvel_Comics', obj='Comic_book')
     1.000 KBTriple(rel='worked_at', sbj='Marvel_Comics', obj='Stan_Lee')
     1.000 KBTriple(rel='worked_at', sbj='Stan_Lee', obj='Marvel_Comics')
     1.000 KBTriple(rel='worked_at', sbj='Elon_Musk', obj='SpaceX')
     1.000 KBTriple(rel='worked_at', sbj='SpaceX', obj='Elon_Musk')